.container {
    @apply
    fixed
    box-border
    h-screen
    rounded-lg
    w-full
    hidden
    md:block
    md:w-[33.33333%]
    overflow-hidden
    transition-all;
};

.large {
    @apply w-[60%];
    
}

.root {
    @apply
    h-full
    w-full;
}

.map_resizer {
    @apply
    absolute
    right-0
    top-0
    mr-1
    mt-6
    translate-y-[-50%]
    z-[9999]
    flex
    px-3
    py-2
    bg-white
    rounded-md
    font-bold
    text-sm
    gap-2
    items-center
    drop-shadow-sm
    hover:drop-shadow-md
    hover:bg-gray-500;
}

.map_resizer_icon {}