.root {
    @apply
    relative
};

.menu {
    @apply relative inline-block text-left;
}

.items {
    @apply
    absolute
    right-0
    w-56
    mt-2
    origin-top-right
    bg-white
    divide-y
    divide-gray-100
    rounded-md
    shadow-lg
    ring-1
    ring-black
    ring-opacity-5
    focus:outline-none;
}

.item {
    @apply text-gray-900 flex rounded-md items-center w-full px-2 py-2 text-sm
}

.item:hover {
    @apply bg-primary-400 text-white
}

.sub_button {
    @apply text-gray-900 flex rounded-md items-center w-full px-2 py-2 text-sm
}

.sub_button:hover {
    @apply bg-primary-400 text-white
}

.button {
    @apply inline-flex justify-center w-full px-4 py-2 text-sm font-medium bg-black rounded-md bg-opacity-20 hover:bg-opacity-30 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75
}

.user_pic {
    @apply
    cursor-pointer
    inline-block
    text-gray-100
    flex
    gap-2;

    & > svg {
        width : 0.7rem
    };

    & img {
        @apply
        text-white
    }
}

.profile_button {
    @apply
    relative
    z-40
    block
    h-8 w-8
    rounded-full
    overflow-hidden
    border-2 border-gray-600
    focus:outline-none focus:border-white;
};

.profile_image {
    @apply
    h-full
    w-full
    object-cover;
};

.overlay {
    @apply
    fixed
    inset-0
    h-full
    w-full
    bg-black
    opacity-50
    z-30
    cursor-default;
}

// .menu {
//     @apply
//     absolute
//     right-0
//     mt-2
//     py-2
//     w-48
//     bg-white
//     rounded-lg
//     z-40
//     shadow-xl;
// }

.menu_item {
    @apply
    block
    px-4
    py-2
    text-gray-800

    hover:bg-indigo-500
    hover:text-white;
};

.user_name {
    @apply
    block
    px-4
    py-2
    text-xs
    border-b-2
    border-gray-100
}