.root {
    @apply
    relative
    pb-6
    w-full
}

.container {

    @apply
    min-h-screen
    overflow-x-auto
}

.list {
    overflow-x: auto;
    @apply
    w-full
    text-xs
}

.head_container {
    @apply
    flex
    flex-col
}

.head {
    @apply
    hidden
    md:flex
    flex-row
    justify-between
    mb-2
    border-b-2;

    & > div {
        @apply
        py-3 px-1
        text-gray-200 font-normal text-left text-base
        bg-white
        flex-grow
    }
}

.file_buttons {
    @apply
    ml-auto
    mr-3
    cursor-default;
    & svg {
        width: 0.9rem;
        @apply
        text-primary-100
        border-l
        pl-1
        border-white
        font-bold
    }
}

.buttons_container {
    @apply
    flex
    relative
    z-10
    items-stretch
    gap-2
    bg-primary-400
    p-2
    rounded-sm
    text-white;

    &:hover {
        .dropdown_buttons {
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }
}

.dropdown_buttons {
    min-width: 100px;

    @apply
    flex
    bg-primary-400
    hidden
    invisible
    py-1
    px-1
    opacity-0
    rounded-sm
    mt-5
    absolute
    right-0;

    & > button {
        @apply
        flex
        my-2
        p-2
        bg-white
        text-black;
    };

    
};

.save_file{
    @apply
    flex
    text-primary-100
    text-left;
    
    > svg {
        @apply
        flex-grow
        mr-2
        w-4
    }
};

.dropdown {
    li>ul                 { transform: translatex(100%) scale(0) }
    li:hover>ul           { transform: translatex(101%) scale(1) }
    li > button svg       { transform: rotate(-90deg) }
    li:hover > button svg { transform: rotate(-270deg) }
    .scale-0 { transform: scale(0) }
    .min-w-32 { min-width: 8rem }
}


  /* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
.group {
    @apply
    inline-block;

    &:hover .group-hover-scale-100 { transform: scale(1);display:block }
    &:hover .group-hover-rotate-180 { transform: rotate(180deg) }

}

.group_hover_scale_100 {
    @apply
    bg-white
    border
    rounded-sm
    transform
    scale-0
    group-hover-scale-100
    absolute 
    transition
    duration-150
    ease-in-out
    origin-top
    min-w-32
}

.body {
    @apply
    flex
    flex-col
    gap-2
    p-1;
}

.body_row {
    @apply
    shadow
    hover:bg-primary-800
    flex
    flex-col
    md:flex-row
    lg:flex-nowrap
    lg:flex-row
    py-2
    border border-gray-500
    rounded
    flex-wrap;

    & > div {
        @apply
        py-1 px-2
        relative
        lg:static
        flex-1
    }
    
    &:last-child {
        margin-bottom: 40px
    }
};

.body_row_item_adres {
    @apply
    flex
    flex-col;

    & > b {
        font-size: 0.6rem;
    }
}