@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@import './vars.scss';
@import './reset.scss';
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px !important;
}

body {
  background-color: var(--base-background-color);
  // overflow-x: hidden;
  display: inline-grid;
}

#__next {
  height: 100%;
};


next-route-announcer {
  display: none;
}

input::placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  @apply
  text-black;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  @apply
  text-black;
}